# =============================================
# KOPEERI SEE FAIL SERVERISSE NIMEGA ".env"
# =============================================

# --- FTP (Kaamerad) ---
FTP_USER=reolink
FTP_PASS=PANE_SIIA_TUGEV_PAROOL
PASV_ADDRESS=ftp.kirikiri.eu

# --- Cloudflare DDNS ---
CF_API_KEY=sinu_cloudflare_api_token
CF_ZONE=kirikiri.eu
CF_SUBDOMAIN=ftp
